<div class="block-top-content convencion">
  <div class="content-convencion">
    <div class="text-content-top">
      <h1 class="title-convencion">ABC de la Convención sobre los Derechos de las Personas con Discapacidad
      </h1>
    </div>
  </div>
</div>
<div class="block-info-page creditos">
  <div class="column-page">
    <h2>Conceptos básicos</h2><br>
    <h4>Derechos de las personas con discapacidad</h4><br>
    <ul>
      <li>Son los mismos que los que poseen las personas sin discapacidad, no son más, menos o diferentes.</li>
      <li>Como humanidad creamos los derechos como el medio para proteger la dignidad e integridad de las personas
        frente a limitaciones a su libertad, daños arbitrarios o negación de oportunidades.</li>
      <li>Con el tiempo nos hemos dado cuenta que no todas las personas pueden ejercerlos en condiciones de igualdad y
        libertad, por causa de diversas formas de discriminación sobre las que gradualmente tomamos conciencia y
        buscamos revertir.</li>
      <li>Las personas con discapacidad han sido impedidas de ejercer sus derechos por prejuicios acerca de la forma en
        que sus cuerpos y subjetividades habitan el mundo, se relacionan con otras, ejercen su autonomía y son
        productivas. En contra de ello, la defensa de sus derechos es un asunto de justicia social.</li>
    </ul>


    <h4>Discapacidad</h4>
    <ul>
      <li>Es una expresión de la diversidad humana, cuya percepción social ha evolucionado. En el pasado se la trató
        como enfermedad y justificación de exclusión y confinamiento. Ahora, en cambio, la pensamos desde la perspectiva
        de derechos humanos y somos conscientes de cómo el mundo no es habitable, ni transitable, por todos los cuerpos
        y subjetividades.</li>
      <li>La discapacidad es resultado de la interacción entre, de un lado, las deficiencias de las personas
        relacionadas con la movilidad, audición, visión, comprensión o interacción social y, del otro, las barreras del
        entorno tanto físicas como de actitudes que dificultan su participación plena en la sociedad.</li>
      <li>La discapacidad es una parte muy importante de la persona y en todo momento ella debe poder decidir cómo vivir
        a partir de ésta y otras características. Sólo se vuelve socialmente relevante, y demanda medidas de inclusión y
        reconocimiento, cuando el entorno no es accesible y refuerza las barreras que impiden la participación plena en
        la comunidad.</li>
      <li>Pensar así la discapacidad permite entender que lo que nombramos como “normalidad” sólo refleja la forma en
        que una buena parte de las personas funcionan en el mundo, pero que no se trata de la única manera de existir.
        También debemos desafiar la percepción sobre que las vidas con esta condición no pueden ser autónomas, plenas y
        felices.</li>
    </ul>





    <h4>Capacitismo</h4>

    <ul>
      <li>Es un conjunto de valores, creencias e, incluso, teorías que condicionan el valor de una persona y, por tanto,
        el reconocimiento de sus derechos a la posesión de características que corresponden a la forma en que la mayoría
        de la población ejerce la movilidad, la visión, la audición, el aprendizaje y las interacciones sociales. Este
        paradigma construye una idea de normalidad a partir de un promedio estadístico y la utiliza para desestimar las
        vidas que se apartan de aquélla.</li>
      <li>El capacitismo se materializa en entornos, interacciones, comunicaciones y actitudes que no consideran
        valiosas e iguales a las personas con discapacidad. Por eso es estructural la discriminación hacia ellasl: no
        consiste sóolo en actos particulares de exclusión, sino en la percepción constante sobre que no es injusto
        apartarlas del mundo común.</li>
      <li>El capacitismo tiene un fundamento erróneo, a saber, derivar una idea de normalidad a partir de un contexto de
        discriminación. Por eso resultan capacitistas los entornos, los productos, las comunicaciones y las
        interacciones que no cuestionan este supuesto orden natural de las cosas que subordina y violenta a ciertas
        personas por su discapacidad.</li>
      <li>El capacitismo se expresa en un lenguaje que esencializa y nombra la discapacidad de forma discriminatoria y
        contraria a la dignidad humana. Por eso la lucha por referirnos a personas con discapacidad y no a
        discapacitados, inválidos o minusválidos es una pelea contra el capacitismo y su anulación de la complejidad,
        necesidades y proyectos de vida de quienes viven con esta característica.</li>
    </ul>


    <h4>Nada sobre nosotras y nosotros sin nosotras y nosotros (modelo social de la discapacidad)</h4>

    <ul>
      <li>Es el lema adoptado por las organizaciones de y para personas con discapacidad como bandera de lucha en todo
        el mundo y para destacar lo común a muchas formas de vivir esta condición. Así se afirma que ninguna medida para
        garantizar sus derechos o combatir la discriminación puede hacerse sin involucrarlas y poner a su alcance todos
        los recursos para expresar sus opiniones y experiencias.</li>
      <li>Este lema fue utilizado, a partir de la década de 1970, por los distintos movimientos a favor de la vida
        independiente. El propósito fue combatir la imposición de las decisiones de otras y otros a las personas con
        discapacidad en lo relacionado con sus creencias, valores y proyectos de vida.</li>
      <li>Desde la adopción de la Convención sobre los Derechos de las Personas con Discapacidad, en 2006, el lema
        también sintetiza el modelo social de la discapacidad. Éste desplaza el interés sobre la persona y sus
        deficiencias y, más bien, lo coloca en el entorno que debería ser seguro, libre de discriminaciones y con la
        participación efectiva de ella en todo momento.</li>
      <li>Este lema hace visibles las interseccionalidades de la discapacidad con otras causales de discriminación, como
        el género, la edad, la posición económica, el origen étnico o la estructura familiar,. Así reconocemos la
        diversidad de necesidades de apoyo y cuidado y por qué un tratamiento homogéneo puede ser contrario al ejercicio
        de derechos; además, que tal diversidad no podría hacerse presente sin la participación plena de ellas sin
        discriminación.</li>
    </ul>


    <h4>Autonomía</h4>

    <ul>
      <li>Es la capacidad que tenemos sin excepción todas las personas para tomar decisiones, materializarlas en el
        mundo común, asumir sus consecuencias y realizar los cambios que consideramos más apropiados en el curso de la
        vida. De hecho, la autonomía nos distingue de otros seres vivos que reaccionan por instinto o costumbre.</li>
      <li>Para las personas con discapacidad, la autonomía significa además contar con los recursos adecuados de apoyo,
        y en muchos casos el cuidado de otras y otros, para expresar sus opiniones y voluntad en espacios seguros y
        libres de discriminación, así como que éstas sean tomadas en cuenta. En realidad, nadie puede ejercer su
        autonomía sin apoyos, cuidados ni ser libre fuera de los vínculos con otras y otros. </li>
      <li>Los apoyos para la movilidad, audición, visión, comprensión o interacción social, tales como las sillas de
        ruedas y andaderas, la lengua de señas mexicana, el sistema Braille o las versiones de lectura fácil, son medios
        para que las personas con discapacidad puedan ejercer su autonomía.</li>
      <li>La autonomía significa poder ejercer los derechos de manera sencilla, siempre que la persona con discapacidad
        desee hacerlo, sin restricciones previas, pero tampoco con la necesidad de exigirlos a la sociedad o reclamarlos
        al Estado. Que cada una de ellas sea autónoma provocará la liberación de la opresión y discriminación para el
        grupo completo que integran.</li>
    </ul>


    <h4>Accesibilidad</h4>

    <ul>
      <li>Es la característica del entorno, bienes, productos, servicios, procesos, comunicaciones e informaciones que
        los hace igualmente útiles y aptos para personas con y sin discapacidad. Si esto ocurre, la persona con
        discapacidad puede ser y estar en el mundo con autonomía y sin discriminaciones; sin accesibilidad, todos sus
        derechos se verán afectados.</li>
      <li>Aunque parece que el mundo se produce de manera espontánea, en realidad éste ha sido imaginado, diseñado y
        modificado de acuerdo con las necesidades de cuerpos y subjetividades sin discapacidad. Así, lograr la
        accesibilidad implica reconocer que, como sociedad, hemos creado espacios y procedimientos que no han tomado en
        cuenta a las personas con discapacidad y que se les han impuesto de manera arbitraria y hasta violenta.</li>
      <li>Un entorno accesible se integra por objetos, espacios y un orden de las cosas que no se interponen entre las
        personas con discapacidad y sus derechos. Esto significa que ellas pueden habitar, transitar y expresarse todo
        el tiempo y sin preocuparse, porque sus cuerpos, subjetividades y apoyos les van a significar esfuerzos
        adicionales o límites que las personas sin discapacidad no experimentan.</li>
      <li>Procesos, servicios e información accesibles se producen a través de las interacciones en las que pueden
        participar personas con una diversidad de formas de habitar, ver, escuchar, comprender, comunicarse y
        socializar. Esto con los apoyos y ajustes que sean requeridos para quienes viven con discapacidad y sin que
        nadie reciba tratamientos diferenciados, pierda su autonomía o dignidad.</li>
    </ul>


    <h4>Ajustes razonables</h4>

    <ul>
      <li>Si bien cualquier espacio o proceso debería ser universalmente accesible, actualmente esto no ocurre. Las
        personas con discapacidad todos los días deben lidiar con un mundo pensado para quienes no tienen esta
        característica. Los cambios específicos que realizamos en el entorno para adecuarlos a la presencia y
        necesidades de alguna de ellas en particular se denominan ajustes razonables.</li>
      <li>Los ajustes razonables no imponen una carga desproporcionada o indebida a las personas sin discapacidad y, al
        contrario, permiten que ellas y quienes viven con discapacidad interactúen de manera igualitaria, con los
        recursos disponibles, además de con cooperación y empatía. Por ello, como a veces se afirma, no son una forma de
        discriminación a la inversa.</li>
      <li>Como su nombre indica, es razonable que la sociedad asuma los costos por la modificación del entorno y las
        rutinas como una primera forma de remediar injusticias acumuladas. También lo es que ensayemos colectivamente,
        en diálogo permanente con las personas con discapacidad, formas de aplicar los estándares de inclusión en
        contextos reales de desigualdad.</li>
      <li>Ejemplos de ajustes razonables son añadir rampas o pasamanos, despejar y ampliar el espacio por el que
        transitan personas con apoyos para la movilidad, reservar baños amplios y cómodos exclusivos para ellas,
        redistribuir el espacio para se encuentren más cerca de accesos y salidas, flexibilizar horarios, facilitar
        actividades a distancia y dotar a quienes comparten el entorno de nociones básicas sobre lengua de señas
        mexicana, sistema Braille o versiones de lectura fácil, entre otros.</li>
    </ul>


    <h4>Diseño universal</h4>

    <ul>
      <li>Adecuar el mundo para que las personas con discapacidad lo habiten y aprovechen en igualdad de condiciones es
        un proceso complejo, y que puede llevar mucho tiempo. Por ello, desde una perspectiva de derechos, debemos
        concebir entornos, comunicaciones, productos, procesos y servicios, como si estos fueran a ser utilizados, sin
        modificaciones, por personas con y sin discapacidad. Éste es el diseño universal.</li>
      <li>De manera ideal, el mundo que construiremos de ahora en adelante debería ser imaginado cómo uno donde
        coexistieran todas las personas con independencia de las diversidades de sus cuerpos y subjetividades. Allí se
        seguirían necesitando apoyos y recursos por tipo de discapacidad, pero no tendrían que hacerse ya ajustes
        razonables y la accesibilidad sería la condición para interactuar en todos los momentos y espacios, sin
        distinciones entre las personas.</li>
      <li>El diseño universal requiere diálogo entre disciplinas como la arquitectura, el derecho, la ciencia, la
        sociología, la comunicación, la cultura, la educación y la recreación, entre otras. Solo desde la innovación en
        nuestras maneras de ser y habitar el mundo encontraremos soluciones creativas y funcionales para que en el mundo
        quepan efectivamente muchos mundos.</li>
      <li>Las personas sin discapacidad nunca se preocupan por si el restaurante, el museo o la playa a que desean
        asistir y aún no conocen les podrán recibir. Sin diseño universal, quienes viven con discapacidad todo el tiempo
        deben consultar sobre si los espacios y procesos son accesibles, si las personas con que coincidirá allí están
        familiarizadas con sus necesidades o si ellas no tendrán que renunciar a participar simplemente porque nadie
        pensó en ellas como posibles usuarias.</li>
    </ul>


    <h4>Igualdad de oportunidades</h4>

    <ul>
      <li>Igualdad es el valor fundamental en democracia. Esto significa que a cada persona corresponde solo un voto,
        con independencia de su identidad o posición social. Para que la participación sea efectiva los derechos deben
        ser respetados por el Estado, no deben existir obstáculos para la autonomía y, además, necesitamos todas las
        oportunidades que configuran una vida de calidad. </li>
      <li>Las personas con discapacidad requieren el acceso completo e igualitario a las oportunidades educativas,
        laborales, de seguridad social, salud, cultura y recreación, entre otras, que. Éstas se logran a través de los
        derechos y las instituciones que los protegen. Por ello, la accesibilidad, los entornos seguros y la no
        discriminación son fundamentales para su participación igualitaria en democracia.</li>
      <li>La igualdad de oportunidades no se logra sólo despejando de obstáculos el espacio entre la persona y sus
        derechos. Se requiere visibilizar las dificultades que históricamente se han acumulado sobre la discapacidad,
        cómo las personas con esta característica han sido obligadas a elegir entre opciones limitadas y la manera en
        que se les han impuesto planes de vida en los que no se reconocen.</li>
      <li>La igualdad de oportunidades para las personas con discapacidad implica, así, la materialización libre de su
        voluntad y el acceso sencillo y permanente a los derechos e instituciones que las determinan. Que la sociedad
        les de primacía y facilite apoyos no representan discriminación para las personas sin discapacidad; más bien es
        la condición para que unas y otras puedan utilizar las mismas oportunidades. </li>
    </ul>


    <h4>Capacidad jurídica</h4>

    <ul>
      <li>Es un derecho y una herramienta que hace posible que la voluntad, las decisiones y las acciones de las
        personas, en el marco de la legalidad, sean respetados por la sociedad y protegidos por el derecho y las
        instituciones que lo respaldan. Esta capacidad, de manera cotidiana, se expresa en contratos y otros actos
        jurídicos que realizamos con libertad, información y conciencia sobre sus consecuencias.</li>
      <li>En el caso de las personas con discapacidad, la limitación o cancelación de la capacidad jurídica ha sido un
        agravio constante. Ellas, aún y con la posibilidad y apoyos para expresar su voluntad, han sido impedidas de
        casarse, tener familia, realizar trámites, firmar contratos, adquirir bienes, arrendarlos o venderlos, contratar
        servicios o consentir tratamientos médicos, entre otros.</li>

      <li>Limitar o cancelar la capacidad jurídica implica anular la voluntad de la persona y afirmar que la familia,
        quienes les apoyan y cuidan u otras y otros deben tomar decisiones en su lugar. Aunque esto sea contrario a la
        dignidad y autonomía, existen disposiciones jurídicas y decisiones judiciales que han vuelto legal esta forma de
        discriminación. Se trata de los mecanismos de interdicción que, en los hechos, constituyen una negación de la
        condición de persona por causa de la discapacidad y la hacen quedar a disposición absoluta de una tutora o
        tutor.</li>
      <li>Cuando a una persona con discapacidad se le arrebata la capacidad jurídica pierde la posibilidad de afirmar su
        voluntad en el mundo. Pero también es colocada en contextos de riesgo, inseguridad e, incluso, violencias de
        todo tipo. Que otras y otros impongan decisiones y realicen contratos en su nombre puede aumentar la
        precariedad, hacerles perder posesiones y oportunidades, así como imponerles planes de vida ajenos a costa de
        desconocer los propios.</li>
    </ul>
  </div>




  <div class="column-page">
    <h2>Herramientas</h2><br>
    <h4>Perspectiva de discapacidad</h4><br>
    <ul>
      <li>Las personas con discapacidad han explicado de forma poderosa y creativa por qué es injusto un mundo que sólo
        es plenamente habitable por cuerpos y subjetividades que se consideran normales por su funcionalidad. Para ello
        han revisado y reescrito nuestros conceptos fundamentales sobre la autonomía, los derechos y la dignidad.</li>
      <li>Una teoría sobre el valor absoluto de la persona con discapacidad que, además, proponga cómo acabar con la
        discriminación estructural por esta condición requiere de una herramienta de incidencia, que. Ésta es
        precisamente la perspectiva de discapacidad que permite diagnosticar y modificar todas las veces que, por acción
        u omisión, las personas sin discapacidad excluyen a quienes tienen esta condición.</li>
      <li>La perspectiva de discapacidad se afianza en el modelo social y en los derechos humanos. Así permite reconocer
        las barreras que el entorno coloca entre las personas y sus derechos, cómo éstas afectan a cada tipo de
        discapacidad y qué necesitamos hacer para erradicarlas. También nos ayuda a entender los apoyos y las
        adaptaciones que requieren las personas con discapacidad para ejercer todos los derechos y la manera en que esto
        plantea retos colectivos.</li>
      <li>La perspectiva de discapacidad debe ser incorporada cotidianamente a todos los ámbitos para identificar a
        quienes tienen esta característica –la cual podría no ser siempre evidente–, sus interseccionalidades, su
        trayectoria y su contexto de vida, necesidades de apoyo y cuidado, así como las formas en que se podrían afectar
        sus derechos en ausencia de esta herramienta.</li>
    </ul>
    <h4>Diversidad dentro de las personas con discapacidad</h4><br>
    <ul>
      <li>Las personas con discapacidad comparten características, necesidades de apoyo y cuidado y se han constituido
        como un colectivo que lucha por sus derechos de manera organizada, pero también son un grupo al interior del
        cual existe una diversidad de trayectorias y proyectos de vida.</li>
      <li>Así, su lugar en el mundo se define, además de la discapacidad, por ser mujeres, infantes niñas o niños,
        personas mayores, indígenas, migrantes o de la diversidad sexual; también, por tener condiciones de salud
        específicas, por su cultura, lengua, posición socioeconómica, religión, ubicación geográfica, apariencia o
        estructura familiar, entre otros elementos.</li>
      <li>La interseccionalidad es una herramienta que permite identificar cómo la discapacidad interactúa con otras
        características de la persona y, por ello, se vuelve susceptible de experimentar formas agravadas de opresión y
        discriminación. En este sentido, la lucha por los derechos de las personas con discapacidad es también la lucha
        por un mundo igualitario generalizado.</li>
      <li>La Convención sobre los Derechos de las Personas con Discapacidad reconoce la diversidad de este grupo y
        señala que los Estados deben realizar esfuerzos puntuales para proteger a las mujeres y niñas con esta
        condición, particularmente en lo que se refiere al libre desarrollo de su personalidad, frente a la violencia y
        a la exclusión de la educación, la salud y el acceso a la justicia.</li>
    </ul>
    <h4>Comunicación con y para las personas con discapacidad</h4><br>
    <ul>
      <li>La comunicación ocurre entre personas con formas y recursos de expresión diversos, con el propósito de
        recibir, interpretar y socializar información. Es un proceso fundamental para la toma de decisiones e incide en
        derechos como la libre expresión, la educación o la participación política, entre otros. Por ello nadie debería
        tener dificultades para comunicarse cómo, cuándo y con quién decida.</li>
      <li>Las personas con distintas discapacidades utilizan recursos para la comunicación que deberían estar
        disponibles todos los días, como el sistema Braille, la lengua de señas mexicana, las versiones de lectura
        fácil, los macrotipos o la comunicación táctil. También han resignificado medios como la visualización de
        mensajes escritos, los medios de voz digitalizada o el lenguaje sencillo y corporal.</li>
      <li>Una parte importante de estas interacciones ocurre a través de las tecnologías de información y comunicación.
        El acceso a internet, las redes sociales, los dispositivos telefónicos, tabletas y computadoras son recursos
        fundamentales que deben resultar accesibles para que las personas con discapacidad realicen trámites, utilicen
        servicios, adquieran bienes o se vinculen con otras y otros.</li>
      <li>La presencia cada vez más intensa de personas con discapacidad en espacios y procesos comunicativos permite
        que ellas compartan sus experiencias, cuestionen prejuicios en torno suyo y propongan formas de interacción
        armónicas con su dignidad. Así, la comunicación accesible tiene como consecuencia también el combate de
        discursos discriminatorios y de odio que circulan en el espacio público.</li>
    </ul>
    <h4>Consulta</h4><br>
    <ul>
      <li>Es un derecho que permite a las personas con discapacidad expresar su punto de vista, evaluar y proponer
        mejoras sobre acciones, leyes y políticas públicas que les afectan. Su decisión sobre participar individual o
        colectivamente en las consultas debe ser respetada y favorecida. Así, se afirma su agencia política y se
        contribuye a eliminar prejuicios capacitistas.</li>
      <li>La consulta no es una formalidad, sino, más bien, un proceso que obliga a quienes toman decisiones desde el
        Estado, pero también en lo privado y social, a materializar las demandas de estas personas en el menor tiempo
        posible. La consulta debe ocurrir antes de llevar a cabo cualquier acción, pero también hacerse de manera
        periódica para poder hacer adecuaciones y lograr mejores resultados.</li>
      <li>La consulta requiere todos los recursos de accesibilidad física, en las actitudes y la comunicación para que
        ningún tipo de discapacidad sea excluido. La convocatoria debe hacerse por medios adecuados y diversos; la
        información tiene que poder ser recibida y comprendida por todas y todos; los espacios y vías para la consulta
        deben estar libres de barreras; y se debe informar de la misma forma sobre los resultados.</li>
      <li>La consulta debe reconocer la diversidad al interior de este grupo. Ello requiere adecuaciones a la
        información y participación de infancias niñas y niños, personas mayores, indígenas, quienes viven en zonas
        urbanas o rurales o son analfabetas. También es fundamental incluir a familiares y quienes les brindan apoyo y
        cuidado. </li>
    </ul>
    <h4>Toma de conciencia sobre la discapacidad</h4><br>
    <ul>
      <li>En torno de las personas con discapacidad existen prejuicios que no corresponden con su realidad, que hemos
        aprendido por generaciones y que reproducimos a veces sin percatarnos de ello, por lo que. Por ello necesitamos
        cambiar nuestras ideas sobre ellas y tomar conciencia sobre su valor y dignidad absolutos. </li>
      <li>La casa, la escuela, el trabajo o los medios de comunicación son ámbitos donde hemos aprendido a discriminar
        por discapacidad casi de manera automática; nuestra familia, docentes, compañeras y compañeros de trabajo,
        líderes comunitarios o de opinión podrían expresar todos los días frente a nosotras y nosotros puntos de vista
        contrarios a la dignidad de este sector. </li>
      <li>La toma de conciencia significa dejar de percibir a la discapacidad como una falla, enfermedad, algo negativo
        o motivo de infelicidad permanente. En su lugar, hay que pensarla como una forma más de la diversidad humana.
        Este proceso se facilita cuando se convive con esta característica y se encuentran las muchas similitudes entre
        las personas con y sin discapacidad.</li>
      <li>La toma de conciencia es un proceso colectivo que implica recibir y socializar información veraz y sencilla
        acerca de las características, necesidades, derechos de las personas con distintas discapacidades y cómo
        contribuir a que ellas los ejerzan. Esto surge cuando se permite que la persona con discapacidad aparezca frente
        a nosotras y nosotros con toda su complejidad y por fin superemos los prejuicios que hemos tejido en torno suyo.
      </li>
    </ul>
  </div>



  <div class="column-page">
    <h2>Derechos</h2><br>
    <h4>Derecho a la igualdad y no discriminación</h4><br>
    <ul>
      <li>Es el derecho de toda persona a ser considerada como merecedora del mismo respeto, trato digno y condiciones
        para ser y estar en el mundo que el que quisiéramos para una o uno mismo. Se le ha nombrado como un “derecho
        llave”, porque representa la posibilidad de ingresar al mundo de las relaciones igualitarias.</li>
      <li>Los derechos humanos, en principio, se pensaron como protecciones para quienes compartían la nacionalidad,
        lengua, cultura, condición social y ciertas funcionalidades. Por ello, hoy colocamos a la no discriminación en
        el núcleo de la concepción contemporánea de los derechos para afirmar que ninguna característica, como la
        discapacidad, puede utilizarse para justificar exclusión de su disfrute.</li>
      <li>Este derecho implica que la persona con discapacidad esté protegida de enfrentar barreras y obstáculos
        físicos, de actitud o de trato para ingresar a los espacios, disponer de bienes y servicios o participar de la
        comunicación o procedimientos que son fundamentales para el ejercicio de otros derechos.</li>
      <li>Este derecho también significa que la persona con discapacidad pueda acceder a protecciones específicas y
        temporales en ámbitos como el educativo, el laboral o la participación política de los que históricamente han
        sido excluidas por prejuicios discriminatorios.</li>
    </ul>

    <h4>Vida independiente y en comunidad</h4><br>
    <ul>
      <li>La vida independiente y en comunidad es el derecho a planear, materializar, controlar y modificar el sentido
        de la existencia y cada uno de los momentos y las dimensiones que la integran, con los apoyos y cuidados
        requeridos, así como con autonomía y dignidad plenas. También es el derecho a crear y mantener todo tipo de
        vida.</li>
      <li>Históricamente la vida independiente y en comunidad fue una bandera de lucha que unificó a las personas con
        discapacidad durante la segunda mitad del siglo XX. Así, pelear para que cada una de ellas pudiera ejercer sus
        derechos cuándo, dónde y cómo quisiera es también luchar por ocupar las calles, las escuelas y los centros
        laborales, entre otros espacios que se suponía no les pertenecían.</li>
      <li>Durante mucho tiempo y bajo la consideración de que la discapacidad era una enfermedad, las personas con esta
        característica fueron confinadas en instituciones médicas y de rehabilitación contra su voluntad. Allí sufrieron
        discriminación, la imposición de tratamientos y violencias de todo tipo que, desde la perspectiva de derechos
        humanos, se han calificado como tratos crueles, inhumanos y degradantes.</li>
      <li>La vida independiente y en comunidad requiere, además de entornos accesibles, la asistencia de quien designe
        la personas con discapacidad por contar con su plena confianza, estar familiarizada con sus necesidades y
        respetar siempre su voluntad. Si la persona no cuenta con estos recursos, es responsabilidad del Estado ponerlos
        a su alcance y de la sociedad ser empática y solidaria.</li>
    </ul>

    <h4>Educación</h4><br>
    <ul>
      <li>La educación es un derecho que permite reconocer el valor propio, realizar los planes de vida y cooperar con
        otras y otros, a través del desarrollo de una conciencia crítica y habilidades para el trabajo, socialización y
        profesionalización. Debe ser universal, con fundamento científico, orientación humanista, accesible y adaptada a
        distintas necesidades, además de afirmar el valor de todas las personas y sus derechos.</li>
      <li>La educación es un proceso que enriquecemos de manera constante para responder a las distintas necesidades de
        las personas. Así, la educación incluyente tiene, entre otros, el propósito de que el conjunto de escuelas y
        recursos de formación, profesionalización y desarrollo de habilidades para el trabajo sean igualmente
        apropiables por personas con y sin discapacidad, en todos los niveles y las regiones.</li>
      <li>La educación incluyente requiere escuelas universalmente habitables y transitables por quienes requieren
        apoyos para la movilidad, visión o audición; donde la información y comunicación tomen en cuenta distintas
        formas de comprender e interactuar; y donde todas y todos aprovechen el conjunto de contenidos, saberes y
        metodologías con los ajustes razonables y adaptaciones necesarias.</li>
      <li>La educación incluyente necesita que profesorado, personal administrativo, estudiantes y sus familias estén
        familiarizados con las necesidades de las personas con discapacidad y cuenten con las herramientas para
        interactuar con ellas y que no se pierda ninguno de los propósitos del proceso. Además, esta comunidad no deberá
        promover o tolerar ninguna forma de acoso o violencia.</li>
    </ul>

    <h4>Salud</h4><br>
    <ul>
      <li>La salud es un derecho y una condición para lograr el adecuado equilibrio entre la corporalidad, las emociones
        y el entorno, además de no experimentar enfermedad, dolor o malestar, de tal forma que sea posible alcanzar
        todos nuestros objetivos con autonomía. Ser una persona con discapacidad sana no equivale a estar liberada de
        esta condición, sino, más bien que, implica contar con todos los recursos para que ella logre dicho equilibrio
        en su propio contexto de vida.</li>
      <li>La salud de la persona con discapacidad requiere contar con información en lenguaje sencillo, con fundamento
        científico y accesibilidad sobre el autocuidado y, también, acerca de aquellos factores que podrían afectarla.
        Estos pueden estar vinculados con la discapacidad, su evolución y los esfuerzos por adaptarse a un entorno no
        accesible, pero también con la alimentación, el estrés o la gestión integral de riesgos.</li>
      <li>La salud de esta población requiere disponibilidad permanente de recursos y profesionales de la medicina
        preventiva, terapéutica y paliativa, según el curso de la vida y necesidades por tipo de discapacidad. Además se
        necesita que la infraestructura que hace posible su uso sea accesible, con ajustes razonables y con calidad
        suficiente, tanto en hospitales como en espacios relacionados (de rehabilitación, laboratorios, farmacias o
        centros deportivos, entre otros).</li>
      <li>La salud de la persona con discapacidad demanda que ella tome las decisiones que considere más adecuadas sobre
        las opciones de prevención, tratamiento, rehabilitación y autocuidado. Para ello es necesario que las y los
        profesionales de la salud tengan nociones básicas sobre cómo interactuar y comunicarse con ellas y sus familias
        para que este derecho se ejerza con el máximo nivel de autonomía posible.</li>
    </ul>

    <h4>Trabajo</h4><br>
    <ul>
      <li>El trabajo es un derecho que permite lograr la autonomía material, que es la base para todas las otras formas
        de autodeterminación. Desde una perspectiva de derechos, el trabajo decente es aquel que permite realizar los
        talentos y capacidades, se remunera de manera proporcional, ocurre en condiciones seguras y libres de
        discriminación, genera beneficios de seguridad social y promueve la organización colectiva para promover la
        justicia laboral.</li>
      <li>Las personas con discapacidad han sido históricamente discriminadas de acceder al trabajo decente y reducidas
        a las modalidades informales de empleo. La razón principal son los prejuicios que apuntan a su falta de utilidad
        laboral, a la inversión desproporcionada que significa recibirlas en los centros de trabajo y a la imposibilidad
        de compartir el espacio con personas sin discapacidad.</li>
      <li>Para que este grupo pueda acceder al trabajo decente se requieren, por supuesto, entornos laborales accesibles
        y con ajustes razonables, pero también que prevalezca una cultura de la inclusión entre quienes los comparten
        para adecuar las comunicaciones e interacciones, así como flexibilizar horarios y cargas laborales. </li>
      <li>Algunas medidas que se pueden adoptar para incluir a las personas con discapacidad en el mundo del trabajo son
        las siguientes: procesos de contratación exclusivos, su incorporación a tareas que respondan a sus expectativas
        y habilidades, procesos de capacitación y formación que les permitan promociones laborales y apoyo a la
        generación de autoempleo y cooperativas, entre otras.</li>
    </ul>

    <h4>Familia</h4><br>
    <ul>
      <li>La familia es una red afectiva y solidaria que contextualiza nuestras elecciones y planes de vida, permitiendo
        que reconozcamos nuestra historia de vida individual y colectiva. Tenemos derecho a contar con una familia
        sanguínea o elegida, y a que se respeten nuestras elecciones en la materia.</li>
      <li>Tradicionalmente las familias de las personas con discapacidad han absorbido los costos de su inclusión en
        ausencia de entornos accesibles. No obstante, resulta fundamental que el Estado cuente con un sistema de apoyos
        y cuidados con perspectiva de derechos humanos que evite que toda la responsabilidad recaiga en el núcleo
        familiar. Por ello se afirma que hay un derecho a la familia y, además, que quienes la integran deben ejercer
        los suyos propios sin discriminación.</li>
      <li>Para que la persona con discapacidad ejerza su derecho a la familia, ella debe poder contraer matrimonio o
        establecer otras formas de unión sexoafectiva, decidir de manera informada sobre el número y espaciamiento de
        hijas e hijos, mantener su custodia y crianza, así como contar con recursos suficientes para tener un nivel de
        vida adecuado. En el caso de las mujeres es fundamental, además, que ellas no sean sometidas a esterilizaciones
        forzadas ni violencia obstétrica en general.</li>
      <li>La presencia de una persona con discapacidad en la familia debe ser liberada de estigmas y prejuicios. Ellas
        no son pruebas de resistencia ni incentivos para mejorar. Por ello, la toma de conciencia sobre los derechos de
        este grupo también debe ocurrir al interior de las familias para comprender que, en su caso, el apoyo y cuidado
        son un medio para el ejercicio de la propia autonomía. Y que no se la puede limitar, violentar, confinar o
        imponer planes de vida, incluso si el propósito es protegerla.</li>
    </ul>

    <h4>Libre expresión</h4><br>
    <ul>
      <li>La libre expresión es el derecho a buscar, recibir y difundir información e ideas, de manera verbal o escrita,
        mediante representaciones de todo tipo y con recursos de comunicación específicos, como la lengua de señas
        mexicana, el sistema Braille o las versiones de lectura fácil. Esto sin que exista censura o restricción previa.
        Su valor es individual y, a la vez, colectivo, porque enriquece los debates en una comunidad.</li>
      <li>La libre expresión requiere que la información y comunicación desde el Estado y entre particulares sean
        igualmente útiles para personas con y sin discapacidad. La adecuación de estos procesos no debe hacer que se
        pierdan elementos clave o se simplifiquen contenidos, sino, más bien, que se utilicen formatos accesibles y
        tecnologías adecuadas a los distintos tipos de discapacidad. Así, las personas con esta característica podrán
        expresar lo que deseen y en cualquier momento.</li>
      <li>Aunque el derecho a la libre expresión es universal, hay quienes tienen mayores posibilidades de difundir sus
        opiniones. Por ejemplo, líderes comunitarios, quienes tienen cargos públicos o presencia en medios de
        comunicación. Ellas y ellos deben ser conscientes de su responsabilidad para evitar difundir prejuicios
        capacitistas y favorecer la difusión de los puntos de vista de las personas con discapacidad.</li>
      <li>La libre expresión hace posible que las personas con discapacidad sitúen sus experiencias y puntos de vista en
        el espacio público. Este derecho visibiliza y comunica sus formas de ser y habitar el mundo de una manera
        positiva, creativa y libre de estigmas. Así, sin censura y con la expresión de todas las opiniones, se combate
        el discurso discriminatorio e, incluso, de odio, referidos a esta característica.</li>
    </ul>

    <h4>Seguridad social</h4><br>
    <ul>
      <li>La seguridad social es un derecho que protege a la persona y su autonomía material cuando, por alguna causa
        temporal o permanente, pierde la posibilidad de obtener ingresos suficientes, hacerlo por ella misma o
        utilizarlos de manera autónoma. Esto podría ocurrir por desempleo, enfermedad, accidentes, maternidad,
        afectaciones a la familia y, también, por la discriminación asociada a la discapacidad.</li>
      <li>En México y otros países la seguridad social depende de que la persona cuente con trabajo formal. Así, una
        parte de su salario es destinada a cubrir el costo de servicios médicos, guarderías, créditos para vivienda,
        fondos de retiro o para préstamos. Dado que la mayoría de las personas con discapacidad son excluidas del
        trabajo o laboran por su cuenta, para ellas no existe la seguridad social.</li>
      <li>Si las personas con discapacidad cuentan con un ingreso básico garantizado, entonces no tienen que cubrir el
        costo de sus tratamientos médicos, pueden conciliar su vida laboral y familiar o contar con apoyo cuando ocurren
        imprevistos. Por ello, la seguridad social sin discriminación favorece su autonomía.</li>
      <li>Todo esto vuelve imperante acabar con la discriminación laboral hacia ellas, pensar esquemas de seguridad
        social que no dependan de su inserción laboral e incentivar la recaudación fiscal que corresponsabilice a la
        sociedad por la creación de redes de protección frente a las adversidades que les restan autonomía y
        estabilidad.</li>
    </ul>

    <h4>Acceso a la justicia</h4><br>
    <ul>
      <li>El acceso a la justicia es el derecho a que el conjunto de los derechos humanos sean respetados, y, cuando
        esto no ocurre, que el Estado cuente con procedimientos sencillos, gratuitos, ágiles y adaptados al contexto de
        la persona. Esto con el propósito de que puedan ser atendidos sus reclamos y se restaure, en la medida de lo
        posible, su situación antes de la afectación.</li>
      <li>El acceso a la justicia para las personas con discapacidad requiere infraestructura, información y
        comunicación accesibles y con ajustes razonables para su interacción igualitaria con tribunales u otras
        instancias les protegen cuando sus derechos son violados. Quienes imparten justicia deben reconocer que, para
        este grupo, la impunidad es lo cotidiano, y, por ello, deben evitar revictimizar.</li>
      <li>Los ajustes de procedimiento son las adaptaciones que se hacen a los procesos legales para que la persona con
        discapacidad pueda acceder a la justicia en igualdad de condiciones. Estos incluyen recursos de comunicación
        como la lengua de señas mexicana, el sistema Braille o las versiones de lectura fácil; también la asistencia
        legal informada sobre los distintos tipos de discapacidad y personas facilitadoras que la acompañen de manera
        cercana durante las distintas etapas del proceso.</li>
      <li>Un gran avance en el acceso a la justicia es que hoy se producen sentencias y otros documentos relevantes en
        versiones de lectura fácil, las cuales. Éstas permiten a la persona con discapacidad intelectual comprender
        información importante para el proceso. Pero, dado que se trata de textos integrados por oraciones sencillas,
        directas y párrafos breves, a veces con apoyo de imágenes, estos también pueden ser aprovechados por infancias
        niñas y niños o personas cuya primera lengua no es el español.</li>
    </ul>

    <h4>Cultura y recreación</h4><br>
    <ul>
      <li>Es el derecho a disfrutar de aquellos bienes y actividades, cuyo valor no se reduce a la utilidad porque
        expresan nuestras interpretaciones del mundo y el valor que damos a las existencias individuales y colectivas.
        Esto requiere el acceso, sin discriminación y con las adaptaciones necesarias para cada persona, al arte, la
        cultura, el patrimonio histórico tangible e intangible, el deporte, el juego y otras actividades que
        complementan la salud y bienestar material.</li>
      <li>La cultura y la recreación tradicionalmente se desarrollan en instalaciones como museos, cines, teatros,
        corredores culturales o centros deportivos, tanto públicos como privados. Aunque se ha avanzado mucho en
        accesibilidad y ajustes razonables en estos espacios, aún es asignatura pendiente localizar la cultura y la
        recreación en las comunidades y lugares de reunión de las propias personas con discapacidad.</li>
      <li>La tecnología facilita la accesibilidad en la cultura;, por ejemplo, si los museos cuentan con versiones
        audibles de las fichas técnicas de la obras expuesta, si los cines y las plataformas de internet que distribuyen
        materiales audiovisuales cuentan con versiones subtituladas y con descripciones de las situaciones
        representadas; o si existen audiolibros de los clásicos y las novedades en literatura. En el caso del deporte
        hay una gran variedad de apoyos y adaptaciones que permiten que las personas con diferentes discapacidades se
        ejerciten de forma segura.</li>
      <li>La cultura y la recreación son también un vehículo para la promoción de la no discriminacrión. Como sociedad
        debemos promover que el cine, la televisión, el teatro, la danza o las artes plásticas incluyan contenidos y
        representaciones que combatan los prejuicios en torno a este grupo; también que creadoras y creadores con esta
        característica tengan más acceso a los grandes públicos y apoyo de las instituciones públicas y privadas en la
        materia.</li>
    </ul>

    <h4>Ejercicio de la sexualidad y disfrute del cuerpo</h4><br>
    <ul>
      <li>Es el derecho a disfrutar del propio cuerpo y sus sensaciones, ya sea por una o uno mismo o en interacción con
        otras personas, más allá de la función reproductiva, de manera voluntaria y lúdica. Este derecho se ha negado a
        las personas con discapacidad por prejuicios como que no pueden experimentar placer, son siempre como infantes o
        que ejercer la sexualidad representa un riesgo permanentes.</li>
      <li>Para ejercer este derecho, las personas con discapacidad requieren de distintos tipos de apoyos y cuidados que
        les permitan ser conscientes y experimentar con su cuerpo, así como sobre la manera en qué este puede generar
        sensaciones placenteras y emocionalmente reconfortantes. Quienes les asistan deben ser de su plena confianza y
        libres de prejuicios.</li>
      <li>También se requiere de información con orientación científica y ética sobre educación sexual, disponible a
        través de mensajes sencillos, directos, adaptados a la edad y cultura de la persona. Se deben emplear, por tipo
        de discapacidad, recursos como la lengua de señas mexicana, el sistema Braille o las versiones de lectura fácil.
        La educación sexual permite tomar decisiones libres e informadas sobre sexualidad, pero también protege frente a
        la imposición de decisiones y violencias.</li>
      <li>Las personas con discapacidad tienen derecho al placer y a vincularse con quienes ellas decidan con este
        propósito. Ello también implica pensar que su sexualidad no es estática, que puede vivirse más allá de las
        relaciones de pareja tradicionales y vincularse con orientaciones sexuales, expresiones e identidades de género
        diversas.</li>
    </ul>
  </div>

</div>
