<footer id="footer" role="contentinfo">
  <div class="footer-content">
    <div class="column-footer">
      <h2>Edificio Sede</h2>
      <ul>
        <li>Insurgentes Sur 2417<br>
          San Ángel. Álvaro Obregón<br>
          C.P. 01000, Ciudad de México</li>
        <li><a href="">+52 (55) 5490-8000</a></li>
        <li><a href="">Mapa del Sitio</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <h2>Vínculos</h2>
      <ul>
        <li><a href="https://www.scjn.gob.mx/" target="_blank">Suprema Corte de Justicia de la Nación</a></li>
        <li><a href="https://www.corteidh.or.cr/" target="_blank">Corte IDH</a></li>
        <li><a href="https://www.oas.org/es/cidh/Default.asp" target="_blank">CIDH</a></li>
        <li><a href="https://www.ohchr.org/es/treaty-bodies/crc" target="_blank">Comité de los Derechos del Niño</a></li>
        <li><a href="https://www.ohchr.org/es/treaty-bodies/crc" target="_blank">Comité sobre los Derechos de las Personas con
            Discapacidad</a></li>
      </ul>
    </div>
    <div class="column-footer">
      <h2>Más información</h2>
      <ul>
        <li><a routerLink="/creditos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Créditos</a>
        </li>
        <li><a href="https://www.cjf.gob.mx/informacionDGDHIGAI.htm" target="_blank">Dirección General de Derechos
            Humanos, Igualdad de Género y Asuntos Internacionales</a></li>
        <li><a href="https://www.cjf.gob.mx/" target="_blank">Dirección General de Estrategia y Transformación
            Digital</a></li>
      </ul>
    </div>
  </div>
</footer>
