<div class="block-top-content convencion">
  <div class="content-convencion">
    <div class="text-content-top">
      <h1 class="title-convencion">Créditos</h1>
    </div>
  </div>
</div>
<div class="block-info-page creditos">
  <div class="column-page">
    <h4>Coordinación del proyecto: <span class="versalitas">dgdhigai</span>, <span class="versalitas">cjf</span></h4>
    Dirección General: Rebeca Saucedo López<br>
    Supervisión: María Fernanda Aguayo González<br>
    Coordinación de contenidos: Julia Escalante de Haro<br><br>

    <h4>Coordinación Técnica: <span class="versalitas">dgeytd</span>, <span class="versalitas">cjf</span></h4>
    Luis Mercurio Cadena Meza<br>
    Porfirio Valencia Bonales<br>
    Luis Martín Antonio Cortez<br>
    Adrián Calderón Gonzaga<br>
    Ramiro Bahena Martinez<br><br>

    <h4>Investigación jurídica y redacción de artículos comentados</h4>
    Yuli Pliego<br>
    Coordinación CDN<br><br>
    Alberto Muñoz López<br>
    Mariana XXXXX<br>
    Investigación y redacción<br><br>
    Agustina Palacios<br>
    Coordinación CDPD<br><br>
  </div>
  <div class="column-page">
    <h4>Producción y concepto </h4>
    María Álvarez<br>
    Coordinación general<br>
    Coordinación editorial, edición y estrategia de comunicación<br><br>

    Diego Aguirre<br>
    Coordinación de diseño y producción<br>
    Dirección de arte<br><br>

    Israel M. López<br>
    Edición y corrección de estilo<br><br>
    <h4>Ilustraciones</h4>
    Vera Primavera<br><br>

    <h4>Infografías</h4>
    Investigación y redacción<br>
    Mariana Niembro<br>
    Diseño<br>
    Alejandro X<br><br>

    <h4>Vídeos</h4>
    Escaletas y guión<br>
    María Álvarez y Mario Hernández<br><br>

    Ilustraciones<br>
    Vera Primavera<br><br>

    Animaciones, diseño sonoro, música original y edición<br>
    Fidel Egurri<br><br>
  </div>
  <div class="column-page">
    <h4>Voces</h4>
    Voces video CDN<br>
    María Reneé Morales González<br>
    Ana Sofía Marmolejo Cruces<br>
    Julián Saldaña Álvarez<br>
    Renato Peralta Niembro<br><br>

    Voces video CDPD<br>
    José Alberto Velasco Hernández<br>
    Teresa Jasmín López Montiel<br>
    Miguel Ángel Nava Jiménez<br><br>

    Intérprete de señas<br>
    XXXXXXX<br><br>

    <h4>Página web</h4>
    Diseño<br>
    Diego Aguirre Fernández<br><br>

    <h4>Programación</h4>
    Luis Silva y Antonio Salinas<br><br>

    <h4>Serigrafías</h4>
    Karen Ximena Carrillos Silva<br><br>
  </div>
</div>
